<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Catering">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.min.css">
    <script defer src="js/main.min.js"></script>
</head>

<body>
    @@include('./sections/_header.html')
    <div class="wrapper row p-0 mx-auto">
        @@include('./sections/_asideMenu.html')
        <div class="col-md-9 col-12 m-0 p-0 row">
            <section class="col-lg-7">
                @@include('./sections/_bc-header.html')
                <h2>Chef</h2>
                <div class="pages">
                    <nav>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="#home" role="tab" data-toggle="tab">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#products" role="tab" data-toggle="tab">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about" role="tab" data-toggle="tab">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact" role="tab" data-toggle="tab">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" id="home">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Eveniet architecto aut aliquid? Possimus veniam iure et neque consequatur
                            adipisci facere consectetur suscipit, eveniet fuga, delectus, incidunt officiis? Tenetur,
                            voluptas cumque.</div>
                        <div role="tabpanel" class="tab-pane fade active show" id="products">
                            @@include('./sections/_mainForm.html')
                            <section class="carouselSection">
                                <div class="card mt-5 mb-3">
                                    <div class="card-header">
                                        <h5 class="card-title">Most Popular</h5>
                                    </div>
                                    @@include('./sections/_carouselProducts.html')
                                </div>
                                @@include('./sections/_paginator.html')
                            </section>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="about">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Libero sint eligendi qui. Praesentium doloremque dolores similique, iste
                            adipisci dolorem odit labore enim commodi possimus! Dolores quia perspiciatis voluptate
                            sapiente perferendis!</div>
                        <div role="tabpanel" class="tab-pane fade" id="contact">Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Nulla aliquid culpa laboriosam maxime sint optio iste laudantium amet
                            molestias perferendis, sapiente doloremque porro, natus id adipisci, veniam nobis
                            repudiandae necessitatibus?</div>
                    </div>
                </div>
            </section>
            @@include('./sections/_asideCards.html')
            @@include('./sections/_footer.html')
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>