<aside class="asideMenu col-md-3">
    <nav class="navbar bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-between" href="#"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-between" href="#"><i class="fas fa-users"></i> Friends </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-between" href="#"><i class="fas fa-images"></i> Images </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-between" href="#"><i class="fas fa-star"></i> Favorite </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-between" href="#"><i class="fas fa-compass"></i> Locations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-between" href="#"><i class="fas fa-address-book"></i>
                    Contacts </a>
            </li>
        </ul>
    </nav>
</aside>