<aside class="asideCards col-lg-5 mb-5">
    <div class="card m-3 shadow">
        <img class="card-img-top" src="./imgs/gallery_img1.png" alt="Card image">
        <div class="card-footer d-flex justify-content-end">
            <a href="#" class="card-link" title="like"><i class="fas fa-heart"></i></a>
            <a href="#" class="card-link" title="comment"><i class="fas fa-comment-dots"></i></a>
            <a href="#" class="card-link" title="share"><i class="fas fa-share-alt"></i></a>
        </div>
    </div>
    <div class="card m-3 shadow">
        <img class="card-img-top" src="./imgs/gallery_img2.png" alt="Card image">
        <div class="card-footer d-flex justify-content-end">
            <a href="#" class="card-link" title="like"><i class="fas fa-heart"></i></a>
            <a href="#" class="card-link" title="comment"><i class="fas fa-comment-dots"></i></a>
            <a href="#" class="card-link" title="share"><i class="fas fa-share-alt"></i></a> </div>
    </div>
    <div class="card m-3 shadow">
        <img class="card-img-top" src="./imgs/gallery_img3.png" alt="Card image">
        <div class="card-footer d-flex justify-content-end">
            <a href="#" class="card-link" title="like"><i class="fas fa-heart"></i></a>
            <a href="#" class="card-link" title="comment"><i class="fas fa-comment-dots"></i></a>
            <a href="#" class="card-link" title="share"><i class="fas fa-share-alt"></i></a> </div>
    </div>
    <div class="card m-3 shadow">
        <img class="card-img-top" src="./imgs/gallery_img4.png" alt="Card image">
        <div class="card-footer d-flex justify-content-end">
            <a href="#" class="card-link" title="like"><i class="fas fa-heart"></i></a>
            <a href="#" class="card-link" title="comment"><i class="fas fa-comment-dots"></i></a>
            <a href="#" class="card-link" title="share"><i class="fas fa-share-alt"></i></a> </div>
    </div>
</aside>