<footer class="footer">

    <div class="row m-0 p-0">
        <div class="col-lg-2">
            <h1 class="text-center">About</h1>
        </div>
        <div class="col-lg-5">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae beatae hic
                quisquam
                totam odit,
                voluptate cupiditate, optio vel numquam similique consectetur repudiandae cum enim iure
                corporis
                itaque sit, eveniet est?</p>
        </div>

        <div class="d-flex flex-column">
            <iframe width="320" height="240" title="youtube" src="https://www.youtube.com/embed/INTPZVuMfbA" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            <div class="form-check-inline mb-5">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Check me out
                </label>
            </div>
        </div>
    </div>
</footer>