<form action="#" method="post" class="mainForm">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2">
            </div>
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon3">
            </div>
            <div class="dropdown mb-3 mt-3">
                <button class="form-control dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dish</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Pizza</a>
                    <a class="dropdown-item" href="#">Sushi</a>
                    <a class="dropdown-item" href="#">Varenyky</a>
                </div>
            </div>
            <div class="input-group mb-3 mt-3">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio">S
                    </label>
                </div>
                <div class="form-check-inline ml-5">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio">M
                    </label>
                </div>
            </div>
            <div class="input-group mb-3 mt-3">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio">L
                    </label>
                </div>
                <div class="form-check-inline ml-5">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio">XL
                    </label>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-danger">Cancel</button>
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mt-3 mb-3">
                <img class="card-img-top" src="imgs/chef.jpg" alt="Card image">
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</form>